<mat-toolbar color="primary">
  <div class="logo">
    <a routerLink="/">Value<span>'m</span></a>
  </div>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/clients" routerLinkActive="mat-accent"><mat-icon>list</mat-icon> CLIENT LIST</a>
    </li>
    <li>
      <a mat-button routerLink="/settings" routerLinkActive="mat-accent"><mat-icon>settings</mat-icon> SETTINGS</a>
    </li>
  </ul>
</mat-toolbar>
