:host {

  .logo {

    a {
      color: rgba(255,255,255,0.3);
      font-size: 36px;
      text-decoration: underline;
      font-weight: 900;

      span {
        font-weight: 100;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .spacer {
    flex: 1 1 auto;
  }

}

