<div class="container">
  <mat-card>
    <mat-card-title>Project roadmap</mat-card-title>
    <div [formGroup]="milestonesForm" fxLayout="column">
      <table #milestonesTable mat-table formArrayName="milestones" [dataSource]="milestonesForm.get('milestones')['controls']">

        <!-- No. Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
            {{i + 1}}
          </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef style="width: 3rem;"></th>
          <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
            <div class="milestoneColor" [style.background]="chromaScale ? chromaScale[i] : 'none'"></div>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
            {{ milestone['controls'].name.value }}
          </td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Scheduled duration (in calendar days)</th>
          <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <input matInput type="number" [formControlName]="'duration'" placeholder="" (keypress)="updateRoadmap()">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef>Scheduled budget</th>
          <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <input matInput type="number"[formControlName]="'budget'" placeholder="" (keypress)="updateRoadmap()">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="hints">
          <th mat-header-cell *matHeaderCellDef>Hints</th>
          <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>

