@import "../../@theme/styles/variables";

:host {
  display: block;
  margin-top: 1rem;

  .search {
    position: relative;
    top: 9px;
    margin-right: 10px;
  }

  .info-text {
    text-align: center;
  }

  h3 {
    color: $color-primary;
  }

  .tableCardContainer {
    table {
      tr.mat-row {
        &:hover {
          cursor: pointer;
          background: rgba(0,0,0,0.05) !important;
        }
      }
    }
  }

  mat-spinner {
    margin: auto;
  }

  mat-paginator {
    margin-top: 1rem;

    &.hidden {
      visibility: hidden;
    }
  }
}


