<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container">
  <div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Clients</h2>
    <form #filterForm="ngForm" (submit)="filterClients(filterForm)">

      <mat-icon class="search">search</mat-icon>
      <mat-form-field>
        <input matInput name="filter" ngModel type="text" [value]="filter" placeholder="Client name">
      </mat-form-field>
      &nbsp;
      <button mat-raised-button color="primary" type="submit"><mat-icon>filter_list</mat-icon> FILTER</button>
      &nbsp;
      <button mat-raised-button color="warn" type="button" *ngIf="filtered" (click)="clearFilter(filterForm)"><mat-icon>clear</mat-icon> CLEAR</button>
      &nbsp;
      <button mat-raised-button color="accent" routerLink="/clients/create"><mat-icon>add</mat-icon> NEW CLIENT</button>

    </form>
  </div>

  <mat-card *ngIf="!isLoading && clients.length" class="tableCardContainer">
    <table mat-table [dataSource]="clients" *ngIf="clients.length">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let client" routerLink="/clients/{{client._id}}/details"><h3>{{client.name}}</h3></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
    </table>
  </mat-card>

  <mat-card *ngIf="!isLoading && !clients.length">
    <p class="mat-caption info-text" *ngIf="clients.length <= 0 && !isLoading">No clients found</p>
  </mat-card>

  <mat-paginator
    [length]="clientsCount"
    [pageSize]="clientsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginate($event)"
    [ngClass]="filtered ? 'hidden' : ''"
  ></mat-paginator>
</div>
