<div class="container">
  <mat-card>
    <mat-card-title>Checkpoints</mat-card-title>
    <div [formGroup]="checkpointsForm" fxLayout="column">
      <table #checkpointsTable mat-table formArrayName="checkpoints" [dataSource]="checkpointsForm.get('checkpoints')['controls']">
        {{ valuation.startDate }}
        <!-- No. Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let checkpoint; let i = index;" [formGroupName]="i">
            {{i + 1}}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Day Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Day of the project</th>
          <td mat-cell *matCellDef="let checkpoint; let i = index;" [formGroupName]="i" (keydown)="addCheckpointAtPosition($event, i)">
            <mat-form-field>
              <input matInput #date [id]="'date' + i" [matDatepicker]="picker" [formControlName]="'date'" (focus)="picker.open()" placeholder="" [min]="valuation.startDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="checkpoint.controls.date.invalid">Date is required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- BCWP Ratio Column -->
        <ng-container matColumnDef="bcwp">
          <th mat-header-cell *matHeaderCellDef>BCWP</th>
          <td mat-cell *matCellDef="let checkpoint; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <input matInput type="number" [formControlName]="'bcwp'" placeholder="" (keydown)="addCheckpointAtPosition($event, i)" (keypress)="updateCheckpoint()">
              <mat-error *ngIf="checkpoint.controls.bcwp.invalid">This field is required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- ACWP Column -->
        <ng-container matColumnDef="acwp">
          <th mat-header-cell *matHeaderCellDef>ACWP</th>
          <td mat-cell *matCellDef="let checkpoint; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <input matInput type="number" [formControlName]="'acwp'" placeholder="" (keydown)="addCheckpointAtPosition($event, i)" (keypress)="updateCheckpoint()">
              <mat-error *ngIf="checkpoint.controls.acwp.invalid">This field is required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- CPI Column -->
        <ng-container matColumnDef="cpi">
          <th mat-header-cell *matHeaderCellDef style="width: 5rem;">CPI</th>
          <td mat-cell *matCellDef="let checkpoint; let i = index;" [formGroupName]="i">
            {{ checkpoint['controls'].bcwp.value / checkpoint['controls'].acwp.value ? (checkpoint['controls'].bcwp.value / checkpoint['controls'].acwp.value | number) : 0}}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
          <td class="actions" mat-cell *matCellDef="let checkpoint; let i = index;" [formGroupName]="i">
            <button type="button" mat-button (click)="removeCheckpoint(i)"><mat-icon>delete</mat-icon> DELETE</button>
          </td>
          <td class="actions" mat-footer-cell *matFooterCellDef>
            <button type="button" mat-button color="accent"(click)="addCheckpoint()"
                    matTooltip="You can also use keyboard to add rows! Simply press 'enter' key when editing an element to add the new one right below.">
              <mat-icon>add</mat-icon> ADD CHECKPOINT
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>

