<div class="container">
  <mat-card>
    <div [formGroup]="basicsForm" fxLayout="column">
      <mat-form-field>
        <input matInput type="text" [formControlName]="'name'" placeholder="Valuation name">
        <mat-error *ngIf="basicsForm.get('name').invalid">Please provide client's name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="6" [formControlName]="'info'" placeholder="Additional information"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-select [formControlName]="'currency'" placeholder="Currency">
          <mat-option [value]="CurrencyTypes.PLN">{{CurrencyTypes.PLN}}</mat-option>
          <mat-option [value]="CurrencyTypes.EUR">{{CurrencyTypes.EUR}}</mat-option>
          <mat-option [value]="CurrencyTypes.USD">{{CurrencyTypes.USD}}</mat-option>
          <mat-option [value]="CurrencyTypes.GBP">{{CurrencyTypes.GBP}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group formControlName="type" aria-label="Select an option" (change)="changeValuationType($event)">
        <mat-radio-button [value]="ValuationTypes.MIXED">Mixed (Agile budget + COCOMO)</mat-radio-button>
        <mat-radio-button [value]="ValuationTypes.AGILE">Agile budget only</mat-radio-button>
        <mat-radio-button [value]="ValuationTypes.COCOMO">COCOMO only</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-card>
</div>
