<mat-card class="tableCardContainer" [ngClass]="sortableProjects.filteredData.length > 0 ? 'visible' : 'hidden'">
  <table mat-table [dataSource]="sortableProjects" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let project" routerLink="/projects/{{project._id}}/details"><h3>{{project.name}}</h3></td>
    </ng-container>
    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created</th>
      <td mat-cell *matCellDef="let project" routerLink="/projects/{{project._id}}/details">{{project.createDate | date }}</td>
    </ng-container>
    <ng-container matColumnDef="updateDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last updated</th>
      <td mat-cell *matCellDef="let project" routerLink="/projects/{{project._id}}/details">{{project.updateDate| date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

<mat-card *ngIf="sortableProjects.filteredData.length <= 0">
  <p class="mat-caption info-text">No projects found</p>
</mat-card>

