<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="!isLoading">

  <div class="breadcrumbs" fxLayout="row" fxLayoutAlign="start end">
    <h2 *ngIf="client">
      <a href="/clients/{{client._id}}">
        {{client.name.length < 30 ? client.name : (client.name | slice:0:30) + '...'}}
      </a><span>&nbsp;/&nbsp;</span></h2>
    <h3>{{ mode === 'edit' ? (project.name.length < 30 ? project.name : (project.name | slice:0:30) + '...') : 'New Project' }}</h3>
  </div>

  <mat-card>
    <mat-card-title>
      Basic project information
    </mat-card-title>
    <form [formGroup]="form" (submit)="saveProject()">
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Project name">
        <mat-error *ngIf="form.get('name').invalid">Please provide client's name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="6" formControlName="info" placeholder="Additional information"></textarea>
      </mat-form-field>
    </form>

  </mat-card>
  <br>
  <mat-card class="text-right">
    <button *ngIf="client" mat-button type="button" routerLink="/clients/{{client._id}}/details"><mat-icon>first_page</mat-icon> BACK TO CLIENT DETAILS</button>
    &nbsp;
    <button *ngIf="project" mat-button color="primary" type="button" routerLink="/projects/{{project._id}}/details"><mat-icon>arrow_back</mat-icon> BACK TO PROJECT DETAILS</button>
    &nbsp;
    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid" (click)="saveProject()"><mat-icon>save</mat-icon> SAVE PROJECT</button>
  </mat-card>

</div>
