<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="!isLoading">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="stard end">
      <h2 *ngIf="client">
        <a href="/clients/{{client._id}}/details">
          {{client.name.length < 30 ? client.name : (client.name | slice:0:30) + '...'}}
        </a>
        <span>&nbsp;/&nbsp;</span>
      </h2>
      <h3>{{project.name.length < 30 ? project.name : (project.name | slice:0:30) + '...'}}</h3>
    </div>

    <div>
      <button *ngIf="client" mat-button color="primary" routerLink="/clients/{{client._id}}/details"><mat-icon>arrow_back</mat-icon> BACK TO CLIENT DETAILS</button>
      &nbsp;
      <a mat-raised-button color="primary" routerLink="/projects/{{project._id}}/edit"><mat-icon>edit</mat-icon> EDIT PROJECT</a>
      &nbsp;
      <button mat-raised-button (click)="deleteProject(project._id)"><mat-icon>delete</mat-icon> DELETE</button>
    </div>
  </div>
  <mat-card>
    <p *ngIf="project.info; else noInfo">{{ project.info }}</p>
    <ng-template #noInfo>
      <p class="mat-caption info-text text-center">No extra information found</p>
    </ng-template>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Valuations</h2>
    <div>
      <a mat-raised-button color="accent" routerLink="/valuations/create" (click)="isLoading=true"><mat-icon>add</mat-icon> NEW VALUATION</a>
    </div>
  </div>

  <app-client-projects [valuations]="valuations" (valuationClicked)="isLoading=!isLoading"></app-client-projects>

</div>
