<div class="container">
  <mat-card>
    <mat-card-title>Milestones</mat-card-title>
    <div [formGroup]="milestonesForm" fxLayout="column">
        <table #milestonesTable mat-table formArrayName="milestones" [dataSource]="milestonesForm.get('milestones')['controls']">

          <!-- No. Column -->
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef style="width: 3rem;">No.</th>
            <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
                {{i + 1}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef style="width: 3rem;"></th>
            <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
              <div class="milestoneColor" [style.background]="chromaScale ? chromaScale[i] : 'none'"></div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="width: 20rem;">Name</th>
            <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
              <mat-form-field>
                <input matInput #milestoneName [id]="'name' + i" type="text" [formControlName]="'name'" placeholder="" (keydown)="addMilestoneAtPosition($event, i)">
                <mat-error *ngIf="milestone.controls.name.invalid">This field is required</mat-error>
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
              <mat-form-field>
                <textarea matInput rows="1" [formControlName]="'description'" placeholder="" (keydown)="addMilestoneAtPosition($event, i)"></textarea>
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
            <td class="actions" mat-cell *matCellDef="let milestone; let i = index;" [formGroupName]="i">
              <button type="button" mat-button (click)="removeMilestone(i)"><mat-icon>delete </mat-icon> DELETE</button>
            </td>
            <td class="actions" mat-footer-cell *matFooterCellDef>
              <button type="button" mat-button color="accent"(click)="addMilestone()"
              matTooltip="You can also use keyboard to add rows! Simply press 'enter' key when editing an element to add the new one right below.">
                <mat-icon>add</mat-icon> ADD MILESTONE
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </div>
  </mat-card>
</div>

