<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="!isLoading">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Settings</h2>
  </div>
    <mat-card>
      <mat-card-title>
        Default valuation parameters
      </mat-card-title>
      <form [formGroup]="form" (submit)="saveSettings()">
        <mat-form-field>
          <input matInput type="number" formControlName="defaultManDayCost" placeholder="Man day cost" min="1" step="1">
          <mat-error *ngIf="form.get('defaultManDayCost').invalid">Please provide default Man Day Cost</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="defaultChanceFactor" placeholder="Chance factor" min="0.1" max="1" step="0.1">
          <mat-error *ngIf="form.get('defaultChanceFactor').invalid">Please provide default chance factort</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="defaultRiskFactor" placeholder="Risk factor" min="1.1" step="0.1">
          <mat-error *ngIf="form.get('defaultRiskFactor').invalid">Please provice default risk factor</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="defaultLocsPerFunctionPoint" placeholder="LOCs per Function Point" min="1" step="1">
          <mat-error *ngIf="form.get('defaultLocsPerFunctionPoint').invalid">Please provide default LOCs per Function Point</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select [formControlName]="'defaultCurrency'" placeholder="Currency">
            <mat-option [value]="CurrencyTypes.PLN">{{CurrencyTypes.PLN}}</mat-option>
            <mat-option [value]="CurrencyTypes.EUR">{{CurrencyTypes.EUR}}</mat-option>
            <mat-option [value]="CurrencyTypes.USD">{{CurrencyTypes.USD}}</mat-option>
            <mat-option [value]="CurrencyTypes.GBP">{{CurrencyTypes.GBP}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card>
    <br>
    <mat-card>
      <div class="text-right">
        <button mat-button color="primary" type="button" routerLink="/clients"><mat-icon>arrow_back</mat-icon> BACK TO CLIENT LIST</button>
      &nbsp;
      <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid" (click)="saveSettings()"><mat-icon>save</mat-icon> SAVE SETTINGS</button>
    </div>
  </mat-card>

</div>
