<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="!isLoading">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>{{mode === 'edit' ? (client.name.length < 80 ? client.name : (client.name | slice:0:80) + '...') : 'New Client' }}</h2>
  </div>

  <mat-card>
    <mat-card-title>
      Basic client information
    </mat-card-title>
    <form [formGroup]="form" (submit)="saveClient()">
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Client's name">
        <mat-error *ngIf="form.get('name').invalid">Please provide client's name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="6" formControlName="info" placeholder="Additional information"></textarea>
      </mat-form-field>
    </form>
  </mat-card>
  <br>
  <mat-card>
    <div class="text-right">
      <button mat-button color="primary" type="button" routerLink="/clients"><mat-icon>arrow_back</mat-icon> BACK TO CLIENT LIST</button>
      &nbsp;
      <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid" (click)="saveClient()"><mat-icon>save</mat-icon> SAVE CLIENT</button>
    </div>
  </mat-card>
</div>
