<h3>LOCs per Function Point</h3>
<table class="mat-table" style="width: 100%;">
  <thead>
    <tr class="mat-header-row">
      <th class="mat-header-cell">Technology</th>
      <th class="mat-header-cell text-center" matTooltip="University of Southern California"><mat-icon class="color-primary">info</mat-icon>USC</th>
      <th class="mat-header-cell text-center" matTooltip="David Consulting Group"><mat-icon class="color-primary">info</mat-icon>DCG</th>
      <th class="mat-header-cell text-center" matTooltip="quantitative Software Management"><mat-icon class="color-primary">info</mat-icon>QSM 2019</th>
    </tr>
  </thead>
  <tbody>
    <tr class="mat-row">
      <td class="mat-cell">Assembler</td>
      <td class="mat-cell text-center">320</td>
      <td class="mat-cell text-center">575</td>
      <td class="mat-cell text-center">119</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">C</td>
      <td class="mat-cell text-center">213</td>
      <td class="mat-cell text-center">400</td>
      <td class="mat-cell text-center">97</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">C++</td>
      <td class="mat-cell text-center">53</td>
      <td class="mat-cell text-center">80</td>
      <td class="mat-cell text-center">50</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">Java</td>
      <td class="mat-cell text-center">53</td>
      <td class="mat-cell text-center">80</td>
      <td class="mat-cell text-center">53</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">ES6 (JavaScript)</td>
      <td class="mat-cell text-center">n/a</td>
      <td class="mat-cell text-center">n/a</td>
      <td class="mat-cell text-center">47</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">.NET</td>
      <td class="mat-cell text-center">n/a</td>
      <td class="mat-cell text-center">n/a</td>
      <td class="mat-cell text-center">57</td>
    </tr>
  </tbody>
</table>
<br>
<div class="text-center">
  <button type="button" mat-raised-button color="warn" (click)="close()" mat-dialog-close=""><mat-icon>close</mat-icon> CLOSE</button>
</div>
