table {
  min-width: 400px;

  thead {
    tr {
      th {
        min-width: 5rem;

        &.text-center {
          text-align: center !important;
        }

        .mat-icon {
          width: 20px;
          height: 16px;
          font-size: 16px;
          float: left;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}
