<mat-card class="tableCardContainer" [ngClass]="sortableValuations.filteredData.length > 0 ? 'visible' : 'hidden'">
  <table mat-table [dataSource]="sortableValuations" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let valuation" routerLink="/valuations/{{valuation._id}}/details" (click)="showLoader()"><h3>{{valuation.name}}</h3></td>
    </ng-container>
    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
      <td mat-cell *matCellDef="let valuation" routerLink="/valuations/{{valuation._id}}/details" (click)="showLoader()">{{valuation.createDate | date}}</td>
    </ng-container>
    <ng-container matColumnDef="updateDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last updated</th>
      <td mat-cell *matCellDef="let valuation" routerLink="/valuations/{{valuation._id}}/details" (click)="showLoader()">{{valuation.updateDate| date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

<mat-card *ngIf="sortableValuations.filteredData.length <= 0">
  <p class="mat-caption info-text">No valuations found</p>
</mat-card>

