@import "../../../@theme/styles/variables";

:host {
  display: block;

  .info-text {
    text-align: center;
  }

  h3 {
    color: $color-primary;
  }

  mat-card {
    &.hidden {
      display: none;
    }

    table {
      tr.mat-row {

        &:hover {
          cursor: pointer;
          background: rgba(0,0,0,0.05) !important;
        }
      }
    }
  }


  mat-spinner {
    margin: auto;
  }

  mat-paginator {
    margin-top: 1rem;
  }
}


