<div class="container">
  <mat-card *ngIf="isDataReady; else noData">
    <mat-card-title>Project budget</mat-card-title>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div>
        <mat-form-field *ngIf="valuation">
          <input matInput [(ngModel)]="valuation.startDate" [matDatepicker]="startDatePicker" placeholder="Project start date" required (dateChange)="renderChart()">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <h3>Project duration: {{ valuation.milestones | sum:'duration'  }} days</h3>
      </div>
      <div>
        <!--        {{ log(valuation.milestones)}}-->
        <h3>Project budget: {{ valuation.milestones | sum:'budget'  }} PLN</h3>
      </div>
    </div>
    <div id="budgetChart" fxLayout="row" fxLayoutAlign="space-around">
      <ngx-charts-line-chart
        [scheme]="chartColorScheme"
        [results]="chartData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Time'"
        [yAxisLabel]="'Cost'"
        [autoScale]="true"
      ></ngx-charts-line-chart>
    </div>
  </mat-card>
  <ng-template #noData>
    <mat-card>
      <p class="mat-caption info-text text-center color-warn">Please provide milestones budgets and durations to track project progress</p>
    </mat-card>
  </ng-template>
</div>
