<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="!isLoading">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>{{ client.name.length < 80 ? client.name : (client.name | slice:0:80) + '...' }}</h2>
    <div>
      <a mat-raised-button color="primary" routerLink="/clients/{{client._id}}/edit"><mat-icon>edit</mat-icon> EDIT</a>
      &nbsp;
      <button mat-raised-button (click)="deleteClient(client._id)"><mat-icon>delete</mat-icon> DELETE</button>
    </div>
  </div>

  <mat-card>
    <p *ngIf="client.info; else noInfo">{{ client.info }}</p>
    <ng-template #noInfo>
      <p class="mat-caption info-text text-center">No extra information found</p>
    </ng-template>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Projects</h2>
    <div>
      <a mat-raised-button color="accent" routerLink="/projects/create"><mat-icon>add</mat-icon> NEW PROJECT</a>
    </div>
  </div>

  <app-client-projects [projects]="projects"></app-client-projects>

</div>
