<div class="container">
  <div *ngIf="valuation.type !== ValuationTypes.COCOMO">
    <mat-card>
      <mat-card-title>Agile project success likelilhood visualisation</mat-card-title>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <h5>Optimistic agile budget: {{ agileBudgetMin}} {{valuation.currency}}</h5>
        </div>
        <div>
          <h5>Pesimistic agile budget: {{ agileBudgetMax }} {{valuation.currency}}</h5>
        </div>
        <div>
          <h3>Target budget: {{valuation.targetBudget }} {{valuation.currency}}</h3>
        </div>
        <div>
          <h3>Success likelilhood within budget:
            <strong [style.color]="colorSuccessScale(targetBudgetLikelilhood)">{{ targetBudgetLikelilhood | number}} %</strong>
          </h3>
        </div>
      </div>
      <div id="budgetChart" fxLayout="row" fxLayoutAlign="space-around">
        <ngx-charts-line-chart *ngIf="isChartRenderable"
          [scheme]="chartColorScheme"
          [results]="chartData"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Budget'"
          [yAxisLabel]="'Success likelilhood'"
          [autoScale]="true"
          [curve]="chartInterpolation"
        ></ngx-charts-line-chart>
      </div>
    </mat-card>

    <br>

    <div fxLayout="row" fxLayoutAlign="center stretch">
      <mat-card fxFlex="">
        <mat-card-title>
          Agile valuation details
        </mat-card-title>
        <table class="mat-table" style="width: 100%;">
          <thead>
          <tr class="mat-header-row">
            <th class="mat-header-cell">Parameter</th>
            <th class="mat-header-cell">Value (MDs)</th>
            <th class="mat-header-cell">Value ({{ valuation.currency}})</th>
          </tr>
          </thead>
          <tbody>
          <tr class="mat-row">
            <td class="mat-cell">Perfect Workload (Min):</td>
            <td class="mat-cell">{{ estimatedWorkloadMin }} MDs</td>
            <td class="mat-cell">{{ estimatedWorkloadMin * valuation.manDayCost }} {{ valuation.currency}}</td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell">Perfect Workload (Avergage):</td>
            <td class="mat-cell">{{ estimatedWorkloadAvg }} MDs</td>
            <td class="mat-cell">{{ estimatedWorkloadAvg * valuation.manDayCost }} {{ valuation.currency}}</td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell">Perfect Workload (Max):</td>
            <td class="mat-cell">{{ estimatedWorkloadMax }} MDs</td>
            <td class="mat-cell">{{ estimatedWorkloadMax * valuation.manDayCost }} {{ valuation.currency}}</td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell"><strong>Calculated Workload (Optimistic):</strong></td>
            <td class="mat-cell"><strong>{{ calculatedWorkloadMin }} MDs</strong></td>
            <td class="mat-cell"><strong>{{ calculatedWorkloadMin * valuation.manDayCost }} {{ valuation.currency}}</strong></td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell"><strong>Calculated Workload (Pesimistic):</strong></td>
            <td class="mat-cell"><strong>{{ calculatedWorkloadMax }} MDs</strong></td>
            <td class="mat-cell"><strong>{{ calculatedWorkloadMax * valuation.manDayCost }} {{ valuation.currency}}</strong></td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell"><strong>Other costs total:</strong></td>
            <td class="mat-cell"><strong>-</strong></td>
            <td class="mat-cell"><strong>{{ costsTotal }} {{ valuation.currency}}</strong></td>
          <tr>
        </table>
      </mat-card>
      &nbsp;&nbsp;&nbsp;
      <mat-card fxFlex="">
        <mat-card-title>
          Success likelilhood within assumed budget
        </mat-card-title>
        <table class="mat-table" style="width: 100%;">
          <thead>
            <tr class="mat-header-row">
              <th class="mat-header-cell"></th>
              <th class="mat-header-cell">Milestone</th>
              <th class="mat-header-cell">Work Cost summary</th>
              <th class="mat-header-cell">Other costs</th>
              <th class="mat-header-cell">Likelilhood</th>
            </tr>
          </thead>
          <tbody>
            <tr class="mat-row" *ngFor="let milestone of milestonesData; let i = index">
              <td class="mat-cell"><div class="milestoneColor" [style.background]="chromaScale ? chromaScale[i] : 'none'"></div></td>
              <td class="mat-cell">{{i}} - {{ valuation.milestones[i].name.length > 15 ? (valuation.milestones[i].name | slice:0:15) + '...' : valuation.milestones[i].name}}</td>
              <td class="mat-cell">
                {{ (milestone.workloadMin + milestone.workloadMax) / 2 * valuation.chanceFactor * valuation.manDayCost }} -
                {{ (milestone.workloadMin + milestone.workloadMax) / 2 * valuation.riskFactor * valuation.manDayCost }}
                {{ valuation.currency}}
              </td>
              <td class="mat-cell">{{ milestone.costs}} {{ valuation.currency}}</td>
              <td class="mat-cell" [style.color]="colorSuccessScale(milestone.targetBudgetLikelilhood)">
                <strong>{{ milestone.targetBudgetLikelilhood | number }} %</strong>
              </td>
            <tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>

  <br *ngIf="valuation.type === ValuationTypes.MIXED">

  <div fxLayout="row" fxLayoutAlign="center stretch">
    <mat-card fxFlex="">
      <mat-card-title>
        COCOMO details
      </mat-card-title>
      <table class="mat-table" style="width: 100%;">
        <thead>
          <tr class="mat-header-row">
            <th class="mat-header-cell">Parameter</th>
            <th class="mat-header-cell">Simple</th>
            <th class="mat-header-cell">Medium</th>
            <th class="mat-header-cell">Complex</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mat-row">
            <td class="mat-cell">Inputs</td>
            <td class="mat-cell">{{ inputs[0] }}</td>
            <td class="mat-cell">{{ inputs[1] }}</td>
            <td class="mat-cell">{{ inputs[2] }}</td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell">Outputs</td>
            <td class="mat-cell">{{ outputs[0] }}</td>
            <td class="mat-cell">{{ outputs[1] }}</td>
            <td class="mat-cell">{{ outputs[2] }}</td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell">Inquiries</td>
            <td class="mat-cell">{{ inquiries[0] }}</td>
            <td class="mat-cell">{{ inquiries[1] }}</td>
            <td class="mat-cell">{{ inquiries[2] }}</td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell">Files</td>
            <td class="mat-cell">{{ files[0] }}</td>
            <td class="mat-cell">{{ files[1] }}</td>
            <td class="mat-cell">{{ files[2] }}</td>
          <tr>
          <tr class="mat-row">
            <td class="mat-cell">Interfaces</td>
            <td class="mat-cell">{{ interfaces[0] }}</td>
            <td class="mat-cell">{{ interfaces[1] }}</td>
            <td class="mat-cell">{{ interfaces[2] }}</td>
        </tbody>
      </table>
    </mat-card>
  </div>

</div>
