<div class="container">
  <mat-card>
    <mat-card-title>Known costs</mat-card-title>
    <div [formGroup]="costsForm" fxLayout="column">
      <table #costsTable mat-table formArrayName="costs" [dataSource]="costsForm.get('costs')['controls']">

        <!-- No. Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef style="width: 3rem;">No.</th>
          <td mat-cell *matCellDef="let cost; let i = index;" [formGroupName]="i">
            {{i + 1}}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let cost; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <input matInput #costName [id]="'name' + i" type="text" [formControlName]="'name'" placeholder="" (keydown)="addCostAtPosition($event, i)">
              <mat-error *ngIf="cost.controls.name.invalid">This field is required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Milestone Column -->
        <ng-container matColumnDef="milestone">
          <th mat-header-cell *matHeaderCellDef style="width: 5rem;">Milestone</th>
          <td mat-cell *matCellDef="let cost; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <mat-select [formControlName]="'milestone'" [value]="cost.controls.milestone.value">
                <mat-option *ngFor="let milestone of milestones; let j = index" [value]="j">{{j + 1}}</mat-option>
              </mat-select>
              <mat-error *ngIf="cost.controls.milestone.invalid">This field is required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value" >
          <th mat-header-cell *matHeaderCellDef style="width: 10rem;">Value</th>
          <td mat-cell *matCellDef="let cost; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <input matInput type="number" [formControlName]="'value'" placeholder="" (keydown)="addCostAtPosition($event, i)">
              <mat-error *ngIf="cost.controls.value.invalid">This field is required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
          <td class="actions" mat-cell *matCellDef="let cost; let i = index;" [formGroupName]="i">
            <button type="button" mat-button (click)="removeCost(i)"><mat-icon>delete</mat-icon> DELETE</button>
          </td>
          <td class="actions" mat-footer-cell *matFooterCellDef>
            <button type="button" mat-button color="accent"(click)="addCost()"
                    matTooltip="You can also use keyboard to add rows! Simply press 'enter' key when editing an element to add the new one right below.">
              <mat-icon>add</mat-icon> ADD COST
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>

