
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eee;
}

app-root {
  flex-direction: column !important;
  min-height: 100%;
}

main {
  width: 100%;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% - 2rem);
  }
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &.mat-button, &.mat-raised-button {
    &:hover {
      opacity: 1;
    }
  }
}

h1, h2, h3, h4, h5 {
  color: gray;
}

.breadcrumbs {
  h1, h2, h3, h4, h5 {
    span {
      color: rgba(0,0,0,0.2);
      margin: 10px 0;
    }
  }
}

.milestoneColor {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}
