.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.color-primary {
  color: $color-primary;
}

.color-accent {
  color: $color-accent;
}

.color-warn {
  color: $color-warn;
}
