mat-card.tableCardContainer {
  padding: 4px 0;

  table {
    width: 100%;
  }
}

table {
  width: 100%;

  thead {
    tr {
      th {
        &.actions {
          width: 5rem;
          text-align: center;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        &.actions {
          width: 5rem;
          text-align: center;
        }
        mat-form-field, mat-select {
          width: 100%;
          padding: 0 1rem 0 0;
          box-sizing: border-box;

          textarea {
            width: 100%;
            margin: 0 1rem;
          }
        }
      }
    }
  }

  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0;
  }
}


