<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading">

  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="breadcrumbs" fxLayout="row" fxLayoutAlign="start end">
      <h2 *ngIf="client">
        <a href="/clients/{{client._id}}/details">
          {{client.name.length < 20 ? client.name : (client.name | slice:0:20) + '...'}}
        </a>
        <span>&nbsp;/&nbsp;</span>
      </h2>
      <h3>
        <a routerLink="/projects/{{project._id}}/details">
          {{ project.name.length < 25 ? project.name : (project.name | slice:0:25) + '...' }}
        </a>
        <span>&nbsp;/&nbsp;</span>
      </h3>
      <h4>{{ mode === 'edit' ? valuation.name : 'New Valuation' }}</h4>
    </div>
    <div>
      <button *ngIf="client" mat-button color="primary" routerLink="/projects/{{project._id}}/details"><mat-icon>arrow_back</mat-icon> BACK TO PROJECT</button>
      &nbsp;
      <a mat-raised-button color="primary" (click)="duplicateValuation()"
         [disabled]="mode === 'create' || basicsForm.invalid || milestonesForm.invalid || tasksForm.invalid || costsForm.invalid  || assumptionsForm.invalid || checkpointsForm.invalid">
        <mat-icon>file_copy</mat-icon> DUPLICATE
      </a>
      &nbsp;
      <button mat-raised-button (click)="deleteValuation(valuation._id)" [disabled]="mode === 'create'"><mat-icon>delete</mat-icon> DELETE</button>
    </div>
  </div>

  <mat-horizontal-stepper #stepper [selectedIndex]="currentStep" (selectionChange)="stepChanged($event)">

    <!-- BASICS -->
    <mat-step [stepControl]="basicsForm" label="Basics" errorMessage="Name is required.">
      <form [formGroup]="basicsForm">
        <app-valuation-basics
          [basicsForm]="basicsForm"
          (valuationTypeChanged)="changeValuationType($event)"
        ></app-valuation-basics>
      </form>
    </mat-step>

    <!-- SCOPE -->
    <mat-step  [stepControl]="milestonesForm && tasksForm" label="Scope" errorMessage="Scope is required">
      <form [formGroup]="milestonesForm" autocomplete="off">
        <app-valuation-milestones
          [milestonesForm]="milestonesForm"
          [chromaScale]="chromaScale"
          (milestoneAdded)="addMilestoneRow($event)"
          (milestoneRemoved)="removeMilestoneRow($event)"
        ></app-valuation-milestones>
      </form>
      <br>
      <form [formGroup]="tasksForm" autocomplete="off">
        <app-valuation-tasks
          [tasksForm]="tasksForm"
          [chromaScale]="chromaScale"
          [milestones]="milestonesForm.get('milestones')['controls']"
          [valuationType]="basicsForm.get('type').value"
          (taskAdded)="addTaskRow($event)"
          (taskRemoved)="removeTaskRow($event)"
        ></app-valuation-tasks>
      </form>
      <br>
      <form [formGroup]="costsForm" autocomplete="off">
        <app-valuation-costs
          [costsForm]="costsForm"
          [milestones]="milestonesForm.get('milestones')['controls']"
          (costAdded)="addCostsRow($event)"
          (costRemoved)="removeCostsRow($event)"
        ></app-valuation-costs>
      </form>
    </mat-step>

    <!-- ASSUMPTIONS -->
    <mat-step [stepControl]="assumptionsForm" label="Assumptions" errorMessage="Assumptions are required">
      <form [formGroup]="assumptionsForm">
        <app-valuation-assumptions
          [assumptionsForm]="assumptionsForm"
          [valuation]="valuation"
          [valuationType]="basicsForm.get('type').value"
        ></app-valuation-assumptions>
      </form>
    </mat-step>
    <!-- SUMMARY -->
    <mat-step label="Summary">
      <app-valuation-summary
        [valuation]="valuation"
        [chromaScale]="chromaScale"
      ></app-valuation-summary>
    </mat-step>

    <!-- TRACKING -->
    <mat-step [stepControl]="checkpointsForm" label="Tracking" >
      <form [formGroup]="milestonesForm">
        <app-valuation-roadmap
          [valuation]="valuation"
          [chromaScale]="chromaScale"
          [milestonesForm]="milestonesForm"
          (roadmapUpdated)="mapFormsToModelAsync()"
        ></app-valuation-roadmap>
      </form>
      <br>
      <app-valuation-budget
        [valuation]="valuation"
      ></app-valuation-budget>
      <br>
      <form [formGroup]="checkpointsForm">
        <app-valuation-checkpoints
          [valuation]="valuation"
          [checkpointsForm]="checkpointsForm"
          (checkpointAdded)="addCheckpointRow($event)"
          (checkpointRemoved)="removeCheckpointRow($event)"
          (checkpointUpdated)="mapFormsToModelAsync()"
        ></app-valuation-checkpoints>
      </form>
    </mat-step>
  </mat-horizontal-stepper>

  <div class="container text-right" *ngIf="!isLoading">
    <mat-card>
      <button *ngIf="project" mat-button color="primary" type="button" routerLink="/projects/{{project._id}}/details">BACK TO
        PROJECT DETAILS
      </button>
      &nbsp;
      <button mat-raised-button type="submit" [disabled]="currentStep <= 0" (click)="previousStep(stepper)">PREVIOUS STEP</button>
      &nbsp;
      <button mat-raised-button color="primary" type="submit" [disabled]="currentStep >= 4" (click)="nextStep(stepper)">NEXT STEP</button>
      &nbsp;
      <button
        mat-raised-button color="accent"
        type="button" (click)="saveValuation()"
        [disabled]="basicsForm.invalid || milestonesForm.invalid || tasksForm.invalid || costsForm.invalid || assumptionsForm.invalid || checkpointsForm.invalid"
      >SAVE VALUATION</button>
    </mat-card>
  </div>
</div>
<br>
