<div class="container" [formGroup]="assumptionsForm">
  <mat-card>
    <mat-card-title>Main assumptions</mat-card-title>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div>
        <mat-form-field>
          <mat-select [formControlName]="'complexity'" placeholder="Project complexity"
                      matTooltip="Project overall DIFFICULTY and UNCERTAINTY">
            <mat-option [value]="ComplexityTypes.SIMPLE">Simple</mat-option>
            <mat-option [value]="ComplexityTypes.MEDIUM">Medium</mat-option>
            <mat-option [value]="ComplexityTypes.COMPLEX">Complex</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="number" [formControlName]="'targetBudget'" placeholder="Available / target budget">
          <mat-error *ngIf="assumptionsForm.get('targetBudget').invalid">Please provide target budget</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="number" [formControlName]="'manDayCost'" placeholder="Man-Day cost">
          <mat-error *ngIf="assumptionsForm.get('manDayCost').invalid">Please provide man day cost</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <br *ngIf="valuation.type !== ValuationTypes.COCOMO">

  <mat-card *ngIf="valuation.type !== ValuationTypes.COCOMO">
    <mat-card-title>Agile budget assumptions</mat-card-title>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div>
        <mat-icon class="color-accent"
                  *ngIf="suggestedChanceFactor > assumptionsForm.get('chanceFactor').value"
                  matTooltip="This is just to warn you that your assumption might be too optimistic"
        >warning</mat-icon>
        Suggested chance factor: <strong>{{ suggestedChanceFactor }}</strong>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="number" [formControlName]="'chanceFactor'" placeholder="Chance factor miltiplier" step="0.05" min="0.1" max="1">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>

          <input matInput type="number" [formControlName]="'riskFactor'" placeholder="Risk factor miltiplier" step="0.1" min="1">
        </mat-form-field>
      </div>
      <div>
        <mat-icon class="color-accent"
                  *ngIf="suggestedRiskFactor > assumptionsForm.get('riskFactor').value"
                  matTooltip="This is just to warn you that your assumption might be too optimistic"
        >warning</mat-icon>
        Suggested risk factor: <strong>{{ suggestedRiskFactor }}</strong>
      </div>
    </div>
  </mat-card>

  <br *ngIf="valuation.type !== ValuationTypes.AGILE">

  <mat-card *ngIf="valuation.type !== ValuationTypes.AGILE">
    <mat-card-title>COCOMO & Function Points assumptions</mat-card-title>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div>
        <mat-form-field>
          <input matInput #locsPerFunctionPoint type="number" [formControlName]="'locsPerFunctionPoint'" placeholder="LOCs per Function Point" step="1">
          <mat-error *ngIf="assumptionsForm.get('locsPerFunctionPoint').invalid">Please provide LOC per FP</mat-error>
        </mat-form-field>
        &nbsp;
        <button type="button" mat-button color="primary" (click)="showLocsSuggestions()"><mat-icon>info</mat-icon> SHOW LOCs SUGGESTIONS</button>
      </div>
    </div>
    <br>

    <!-- TODO: move the table below to separate component -->

    <table formGroupName="generalSystemCharacteristics" class="mat-table">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell" style="width: 18rem;">Issue</th>
          <th class="mat-header-cell">Influence on the project (0 - irrelevant, 5 - severe) </th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row">
          <td class="mat-cell">Data communication:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="dataCommunication" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Distributed data processing:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="distributedDataProcessing" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Performance:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="performance" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Heavily used configuration:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="heavilyUsedConfiguration" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Transaction role:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="transactionRole" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Online data entry:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="onlineDataEntry" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">End user efficiency:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="endUserEfficiency" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Online update:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="onlineUpdate" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Complex processing:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="complexProcessing" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Reusability:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="reusability" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Installation ease:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="installationEase" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Operational ease:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="operationalEase" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Multiple sites:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="multipleSites" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">Facilitate change:</td>
          <td class="mat-cell">
            <mat-radio-group formControlName="facilitateChange" aria-label="Select an option">
              <mat-radio-button *ngFor="let severity of [0,1,2,3,4,5]" [value]="severity">{{severity}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
      </tbody>
    </table>

  </mat-card>
</div>
