<!--<div [ngClass]="valuationType === ValuationTypes.AGILE ? 'container' : ''">-->
<div class="container">
  <mat-card>
    <mat-card-title>Tasks</mat-card-title>
    <div [formGroup]="tasksForm" fxLayout="column">
      <table #tasksTable mat-table formArrayName="tasks" [dataSource]="tasksForm.get('tasks')['controls']">

        <!-- No. Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            {{i + 1}}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <input matInput #taskName type="text" [id]="'name' + i" [formControlName]="'name'" placeholder="" (keydown)="addTaskAtPosition($event, i)">
              <mat-error *ngIf="task.controls.name.invalid">This field is required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef style="width: 3rem;"></th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <div class="milestoneColor" [style.background]="chromaScale ? chromaScale[task.controls.milestone.value] : 'none'"></div>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Milestone Column -->
        <ng-container matColumnDef="milestone">
          <th class="milestone" mat-header-cell *matHeaderCellDef>Milestone</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="milestone">
              <mat-select [formControlName]="'milestone'" [value]="task.controls.milestone.value">
                <mat-option *ngFor="let milestone of milestones; let j = index" [value]="j">{{j + 1}}</mat-option>
              </mat-select>
              <mat-error *ngIf="task.controls.milestone.invalid">Required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Complexity Column -->
        <ng-container matColumnDef="complexity">
          <th class="complexity" mat-header-cell *matHeaderCellDef>Complexity</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="complexity">
              <mat-select [formControlName]="'complexity'" [value]="task.controls.complexity.value">
                <mat-option [value]="ComplexityTypes.SIMPLE">Simple</mat-option>
                <mat-option [value]="ComplexityTypes.MEDIUM">Medium</mat-option>
                <mat-option [value]="ComplexityTypes.COMPLEX">Complex</mat-option>
              </mat-select>
              <mat-error *ngIf="task.controls.complexity.invalid">Required</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Inputs Column -->
        <ng-container matColumnDef="inputs">
          <th class="measure" mat-header-cell *matHeaderCellDef>Inputs</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="measure">
              <input matInput type="number" [formControlName]="'inputs'" placeholder="" (keydown)="addTaskAtPosition($event, i)">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Outputs Column -->
        <ng-container matColumnDef="outputs">
          <th class="measure" mat-header-cell *matHeaderCellDef>Outputs</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="measure">
              <input matInput type="number" [formControlName]="'outputs'" placeholder="" (keydown)="addTaskAtPosition($event, i)">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Inquiries Column -->
        <ng-container matColumnDef="inquiries">
          <th class="measure" mat-header-cell *matHeaderCellDef>Inquiries</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="measure">
              <input matInput type="number" [formControlName]="'inquiries'" placeholder="" (keydown)="addTaskAtPosition($event, i)">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Files Column -->
        <ng-container matColumnDef="files">
          <th class="measure" mat-header-cell *matHeaderCellDef>Files</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="measure">
              <input matInput type="number" [formControlName]="'files'" placeholder="" (keydown)="addTaskAtPosition($event, i)">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Interfaces Column -->
        <ng-container matColumnDef="interfaces">
          <th class="measure" mat-header-cell *matHeaderCellDef>Interfaces</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="measure">
              <input matInput type="number" [formControlName]="'interfaces'" placeholder="" (keydown)="addTaskAtPosition($event, i)">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- WorkloadMin Column -->
        <ng-container matColumnDef="workloadMin">
          <th class="measure" mat-header-cell *matHeaderCellDef>Workload (min)</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="measure">
              <input matInput type="number" [formControlName]="'workloadMin'" placeholder="" (keydown)="addTaskAtPosition($event, i)">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- WorkloadMax Column -->
        <ng-container matColumnDef="workloadMax">
          <th class="measure" mat-header-cell *matHeaderCellDef>Workload (max)</th>
          <td mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <mat-form-field class="measure">
              <input matInput type="number" [formControlName]="'workloadMax'" placeholder="" (keydown)="addTaskAtPosition($event, i)">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th class="actions" mat-header-cell *matHeaderCellDef>Description</th>
          <td class="actions" mat-cell *matCellDef="let task; let i = index;" [formGroupName]="i">
            <button type="button" mat-button (click)="removeTask(i)"><mat-icon>delete </mat-icon> DELETE</button>
          </td>
          <td class="actions" mat-footer-cell *matFooterCellDef>
            <button type="button" mat-button color="accent"(click)="addTask()"
                    matTooltip="You can also use keyboard to add rows! Simply press 'enter' key when editing an element to add the new one right below.">
              <mat-icon>add</mat-icon> ADD TASK
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>
